:root {
  --primary-color: rgb(39, 32, 68);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/tokyo-skyline.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  color: var(--primary-color);
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}
footer {
  color: white;
  background-image: linear-gradient(
      var(--primary-color, 0.6),
      rgba(0, 0, 0, 0.7)
    ),
    url("../images/tokyo-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 5px;
  color: var(--primary-color);
  opacity: 0.3;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: var(--primary-color);
  margin: 0;
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: var(--primary-color);
  margin: 0;
}
main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: var(--primary-color);
  margin: 0;
}
main p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--primary-color);
  opacity: 0.7;
}
.text-center {
  text-align: center;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.img-responsive {
  width: 100%;
  display: block;
}
.secondary-section {
  background-color: rgb(248, 248, 248);
}
h2 .secondary-section {
  text-transform: capitalize;
}
.grid-2-col {
  grid-template-columns: 1fr 1fr;
}
.grid-3-col-1-2fr {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-3-col {
  grid-template-columns: repeat(3, 1fr);
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.card {
  background-color: white;
  margin: 30px 0;
}
.card-body {
  padding: 32px;
}
.card-footer {
  padding: 0 30px 30px;
}
.button {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: var(--primary-color);
  text-decoration: none;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  section {
    padding: 30px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
}
